@import "../mixins";
@import "../variables";

form{
  .form-wrap{
    @include flexbox();
  }
  label{
    text-transform: capitalize;
  }
  .form-control{
    @include roundedCorners(4);
    padding: 10px 12px;
    margin-bottom: 15px;
    transition: 0.2s;
    border: 1px solid $--color-grey;

    &:focus{
      border: 1px solid red;
    }
  }
}