@import "../mixins";
@import "../variables";

form{
  .form-wrap{
    @include flexbox();

    .form-group{
      flex: 1;
      &+.form-group{
        margin-left: 10px;
      }
    }
  }

  label{
    font-size: 16px;
    text-transform: capitalize;
  }

  .form-control{
    transition: 0.2s;
    border: 1px solid $--color-grey;

    &:focus{
      outline: none;
    }
  }
}